.header {
  padding: 2%;
  font-size: 20px;
  background-color: #ED3237;
  color: white;
  text-align: center;
}

.footer {
  text-align: right;
  color: white;
  background-color: #ED3237;
}
.error{
  color: #ED3237;
}
