.btn_send{
  font-size: 18px;
}
.label_radio{
  margin: 0px 8px 13px 0;
}
.textarea_style{
  border-bottom: solid;
  height:150px;
  border-bottom-color: #ED3237;
  margin-top: 30%;

}

.imgcenter
{
  alignment: center;
  margin-left: 30%;
}

.fontsize
{
  font-size: 22px;
}
