<ion-header>

  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <img src="assets/imgs/close_red.png" class="succesfull_Order">

  <div align="center" style="margin-top: 5px" >
    <h4><b>Your order is UnSuccessfull</b></h4>
  </div>
</ion-content>
<ion-footer>
  <button padding class="btnHOme" (click)="goToHome()">BACK TO HOME</button>
</ion-footer>