.succesfull_Order{
  height: 130px;
  width: 130px;
  background: white;
  margin-top: 40%;
  alignment: center;
  margin-left: 33%;
}

.btnHOme{
  width: 100%;
  text-align: center;
  color: white;
  background: #ED3237;
  font-size: 17px;
}