.succesfull_Order{
  //align-content: center;

  alignment: center;
  justify-items: center;
  align-items: center;
  height: 130px;
  width: 130px;
  background: white;
  margin-top: 15%;
/*  margin-left: 45%;*/
}

.btnHOme{
  width: 100%;
  text-align: center;
  color: white;
  background: #ED3237;
  font-size: 17px;
}