
  toolbar-title toolbar-title-ios {
    font-size: 1.7rem;
  }

  toolbar-title toolbar-title-md {
    font-size: 2rem;
  }

  toolbar-title toolbar-title-wp {
    font-size: 1.5rem;
  }

  .rowclass {
    margin-top: -12px;
    background: #ED3237;
  }
