.class_row {
  margin-bottom: 10px;
}

.class_ioncol {
  padding: 17px;
}

.class_ioncol1 {
  padding: 10px;
  padding-right: 0px;
  margin-right: 0px;
  align-items: end;
}

.text_aftercheckbox {
  font-size: 13px;
}

.forgotpassword {
  margin-left: 50%;
  margin-right: 0%;
  padding-right: 0px ;
  font-size: 13px;
}

.forgotpassword2 {
  margin-right: 0px;
  padding-right: 0px ;
  color: #469bf5;
}

.notaMember {
  text-align: center;
}

.gotocreat {
  color: #ED3237;
}

.imageSignUp {
  margin-right: auto;
  margin-left: auto;
  border-radius: 0%;
  display: block;
  width: 60%;
  height: 100%;

}

.createAccout {

  background-color: #ED3237;
  margin-top: 10px;
}
