.heading_col{
  color: lightgrey;
  font-size: 17px;
  text-align: center;

}

.pending_details{
  margin: -7px;
  width: 105%;
  margin-bottom: 17px;
}

.content_col{
  text-align: center;
  font-size: 15px;
  color: gray;
}

.confirm_btn{
  background-color: #ED3237;
  border-radius: 3px;
  text-align: center;
  padding: 2px;
  z-index: 6;
}

.delivery_time{
  color: gray;
  text-align: center;
  padding: 5px;

}