<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>Splash</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
<!--<ion-button [routerLink]="['/login-with-option']" ></ion-button>-->
  <div *ngIf="showSplash" style="background-color: mintcream;" class="splash">
      <img  src="assets/imgs/eBRUtrans.png">
<!---->
      <!--<div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
      </div>-->
<!---->
  </div>
</ion-content>
