
<ion-app>
<!--<ion-header class="new-background-color">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="headName"><b>Search Item</b></ion-title>

    <ion-buttons slot="primary">
      <ion-button  >
        <p *ngIf="totalAmount > 0"> <b>{{totalAmount | currency:'INR':true:'1.0'}}</b></p>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button   (click)="gotoCartPage()" >
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="itemCount > 0" slot="end" class="itemCountCart">{{itemCount}}</ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>


</ion-header>-->
<ion-header class="new-background-color">
  <ion-toolbar color="secondary">
    <!--<ion-buttons slot="start" >
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>-->
    <ion-buttons slot="start">

      <!--
                      <ion-back-button class="ionbackbutton" ></ion-back-button>
      -->
      <ion-back-button class="ionbackbutton" defaultHref="HomepagePage"></ion-back-button>  <!--;page=itemList-->

    </ion-buttons>

    <ion-title class="headName"><b>Search Item</b></ion-title>

    <ion-buttons slot="primary">
      <ion-button  >
        <p *ngIf="totalAmount > 0"> <b>{{totalAmount | currency:'INR':true:'1.0'}}</b></p>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button   (click)="gotoCartPage()" >
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="itemCount > 0" slot="end" class="itemCountCart">{{itemCount}}</ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-row class="rowclass" [ngStyle]="{'background-color':'#ED3237'}" >
    <ion-col class="colPadding" [style.col]="spinner == false ? 'col-11' : 'col-12'" >
      <ion-searchbar #si
              (ionInput)="getItems($event)" animated="true" placeholder="Enter 3 or more characters"   autocomplete="on" >
      </ion-searchbar>
    </ion-col>
    <ion-spinner *ngIf="spinner == true"   name="ios"></ion-spinner>
  </ion-row>

</ion-header>


<ion-content class="homeContent">

  <!--<h6>Showing selected results. See all results for .</h6>-->

  <ion-row *ngIf="itemFound == false" style="margin-top: 50%">
    <ion-col text-wrap align="center">
      <h1 style="color: lightgrey">No items Available</h1>
    </ion-col>

  </ion-row>
  <ion-row *ngIf="itemFound == true && userType==5">

<!--    <ion-col col-6 size="6" *ngFor="let data of ItemList; let i = index" style="border: 1px solid beige;">-->
    <ion-col  *ngFor="let data of ItemList; let i = index"  size="6" sizeXl="2" sizeLg="3" sizeMd="4" class="listDiv">

      <div *ngFor="let item of data.ItemPackagingList">
        <ion-row>
          <ion-col align="center" >
            <img class="item_image" src="https://api.tabserp.com/{{item.ItemImageList[0].ImageUrl}}"
                 (click)="openItemDetail(data,i)">
          </ion-col>
        </ion-row>
        <ion-row><span class="itemName">{{data.Name}}</span></ion-row>


        <!-- <ion-row  style="margin-top: -5px" text-wrap >
           <p><span style="color: #c5c5c5;margin-left: 1px">&#8377;</span><span style="font-weight: bold">{{item.OurRate}}</span></p>
           &nbsp;&nbsp;<p style='text-decoration:line-through;color: red;' *ngIf="item.MRPRate > item.OurRate">&#8377;<span style="font-size: 13px">{{item.MRPRate}}</span></p>
           &nbsp;&nbsp;<p style='color: orangered;font-size: 12px;margin-top: 15px;' *ngIf="item.MRPRate > item.OurRate">({{((item.MRPRate - item.OurRate)/item.MRPRate)*100 | number :'1.2-2'}}% OFF)</p>
         </ion-row>

         <ion-row *ngIf="item.Quantity >= 0" style="margin-top: -11px;">
           <ion-col align="center" >
             <img src="assets/imgs/btn_addToBasket.PNG" style="max-width: 79%;" (click)="addToCart(data)" >
           </ion-col>
         </ion-row>
 -->

        <ion-row>

          <ion-col col-6 size="6">
            <span class="ourRate">&#8377;<b>{{item.OurRate}}</b></span>
          </ion-col>
          <ion-col col-6 size="6" *ngIf="item.MRPRate > item.OurRate">
            <span class="mrpText">MRP:</span> <span class="mrpRate"> &#8377; <b>{{item.MRPRate}}</b></span>
          </ion-col>


        </ion-row>
        <ion-row class="off" *ngIf="item.MRPRate > item.OurRate">
          ({{((item.MRPRate - item.OurRate) / item.MRPRate) * 100 | number :'1.2-2'}}% OFF)
        </ion-row>
        <ion-row class="addBasket" *ngIf=" item.Quantity == 0 && item.ClosingStock >= 1">
          <ion-col align="center">
            <img src="assets/imgs/btn_addToBasket.PNG" style="max-width: 79%;" (click)="addToCart(data)">
          </ion-col>
        </ion-row>

        <ion-row class="addBasket" *ngIf="IsNegativeStockAllowed == false && item.ClosingStock < 1 ">
          <ion-col align="center">
            <img src="assets/imgs/btn_out_stock_en.png" style="max-width: 79%;">
          </ion-col>
        </ion-row>

        <!--        <ion-row class="addBasket" *ngIf="item.Quantity == 0 && item.ClosingStock >= 1">-->
        <!--          <ion-col align="center">-->
        <!--            <img src="assets/imgs/btn_addToBasket.PNG" style="max-width: 79%;" (click)="addToCart(data)">-->
        <!--          </ion-col>-->
        <!--        </ion-row>-->

        <!--        <ion-row *ngIf="item.ClosingStock < 1" style="margin-top: -11px;">-->
        <!--          <ion-col align="center">-->
        <!--            <img src="assets/imgs/btn_out_stock_en.png" style="max-width: 79%;">-->
        <!--          </ion-col>-->
        <!--        </ion-row>-->

        <!-- <ion-row *ngIf="item.Quantity > 0" style="margin-top: -11px;">
           <ion-col col-2 align="center" style="margin-left: 15%;">
             <img style="width: 100%;height: 100%;"  src="assets/icon/negative-sign-inside-circle-less.png" (click)="increment(i,item.SaleRate,data, -1)">
           </ion-col>
           <ion-col col-4 align="center">
             <input type="tel" maxlength="3" class="quantText" [(ngModel)]="item.Quantity" (blur)="updateQuantity(item.Quantity,i,data)" disabled>
           </ion-col>
           <ion-col col-2 align="center">
             <img style="width: 100%;height: 100%;" src="assets/icon/plus-button-icon.png" (click)="increment(i,item.SaleRate,data, 1)">
           </ion-col>
         </ion-row>-->


        <ion-row *ngIf="item.Quantity > 0" style="margin-top: 2%;">
          <ion-col col-2 size="2" align="center">
            <img style="width: 100%;height: 100%;" src="assets/icon/negative-sign-inside-circle-less.png"
                 (click)="increment(i,item.SaleRate,data, -1)">
          </ion-col>
          <ion-col col-4 size="4" align="center">
            <input type="tel" maxlength="3" class="quantText" [(ngModel)]="item.Quantity"
                   (blur)="updateQuantity(item.Quantity,i,data)" disabled>
          </ion-col>
          <ion-col col-2 size="2" align="center">
            <img style="width: 100%;height: 100%;" src="assets/icon/plus-button-icon.png"
                 (click)="increment(i,item.SaleRate,data, 1)">
          </ion-col>
          <ion-col col-4 size="4" align="center" class="QtyRowRE" (click)="increment(i,item.SaleRate,data, 0)"><span><b>Reset</b></span>

          </ion-col>
        </ion-row>
        <ion-row *ngIf="item.Quantity > 0">


          <ion-col align="center" class="QtyRow" col-2 (click)="increment(i,item.SaleRate,data, 10)">
            <span><b>+10</b></span></ion-col>
          <ion-col align="center" class="QtyRow100" col-3 size="3" (click)="increment(i,item.SaleRate,data, 100)">
            <span><b>+100</b></span></ion-col>
          <ion-col align="center" class="QtyRow500" col-3 size="3" (click)="increment(i,item.SaleRate,data, 500)">
            <span><b>+500</b></span></ion-col>
          <ion-col align="center" class="QtyRow" col-3 size="3" (click)="increment(i,item.SaleRate,data, 1000)">
            <span><b>+1000</b></span></ion-col>


        </ion-row>
        <ion-row *ngIf="item.Quantity > item.ClosingStock">
          <ion-col col-12>
            <span class="maxQty">Max Qty Possible : {{item.ClosingStock}}</span>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>

  </ion-row>


  <ion-row *ngIf="itemFound == true && userType==2">

    <ion-col col-6 size="6" *ngFor="let data of ItemList; let i = index" style="border: 1px solid beige;">

      <div *ngFor="let item of data.ItemPackagingList">
        <ion-row>
          <ion-col align="center">
            <img class="item_image" src="https://api.tabserp.com/{{item.ItemImageList[0].ImageUrl}}">
          </ion-col>
        </ion-row>
        <ion-row><span class="itemName">{{data.Name}}</span></ion-row>

        <!--        <ion-row  style="margin-top: -5px" text-wrap >-->
        <!--          <p><span style="color: #c5c5c5;margin-left: 1px">&#8377;</span><span style="font-weight: bold">{{item.OurRate}}</span></p>-->
        <!--          &nbsp;&nbsp;<p style='text-decoration:line-through;color: red;' *ngIf="item.MRPRate > item.OurRate">&#8377;<span style="font-size: 13px">{{item.MRPRate}}</span></p>-->
        <!--          &nbsp;&nbsp;<p style='color: orangered;font-size: 12px;margin-top: 15px;' *ngIf="item.MRPRate > item.OurRate">({{((item.MRPRate - item.OurRate)/item.MRPRate)*100 | number :'1.2-2'}}% OFF)</p>-->
        <!--        </ion-row>-->

        <ion-row>

          <ion-col col-6 size="6">
            <span class="ourRate">&#8377;<b>{{item.OurRate}}</b></span>
          </ion-col>
          <ion-col col-6 size="6" *ngIf="item.MRPRate > item.OurRate">
            <span class="mrpText">MRP:</span> <span class="mrpRate" slot="left"> &#8377; <b>{{item.MRPRate}}</b></span>
          </ion-col>


        </ion-row>
        <ion-row class="off" *ngIf="item.MRPRate > item.OurRate">
          ({{((item.MRPRate - item.OurRate) / item.MRPRate) * 100 | number :'1.2-2'}}% OFF)
        </ion-row>

        <ion-row class="addBasket" *ngIf="IsNegativeStockAllowed == false && item.ClosingStock < 1 ">
          <ion-col align="center">
            <img src="assets/imgs/btn_out_stock_en.png" style="max-width: 79%;">
          </ion-col>
        </ion-row>
        <ion-row class="qtyStock" *ngIf="IsNegativeStockAllowed == false && item.ClosingStock > 0 ">
          <ion-col align="center">
            <span style="font-size: small;color: red"> Oty In Stock : {{item.ClosingStock}}</span>
          </ion-col>
        </ion-row>
        <!--        <ion-row  style="margin-top: 5px;">-->
        <!--          <ion-col align="center">-->
        <!--            <img src="assets/imgs/btn_out_stock_en.png" style="max-width: 79%;">-->
        <!--          </ion-col>-->
        <!--        </ion-row>-->

      </div>
    </ion-col>

  </ion-row>

  <!-- <div style="text-align: center; margin-top: 50%;" *ngIf="itemNotFound <= 0">
     NO ITEMS FOUNDS
   </div>
   <ion-list *ngFor="let data of ItemList; let i = index" style="margin: -6px 0px 0px;">
     <ion-item *ngFor="let item of data.ItemPackagingList" no-lines style="padding-left: 0px;">
       <ion-thumbnail item-start>
         <img src="assets/imgs/background_fresh_food.png">
       </ion-thumbnail>
       <ion-row>
         <ion-col col-10 text-wrap>
           <span>{{data.DisplayName}}</span>
         </ion-col>
         <ion-col col-2>
           <img class="increment_btn" src="assets/icon/plus-button-icon.png" (click)="increment(i,item.OurRate,data, 1)">
         </ion-col>
       </ion-row>
       <ion-row class="imageVisisble">
         <ion-col col-10><p class="pClass">{{item.PackagingValue}}</p></ion-col>
         <ion-col col-2>
           &lt;!&ndash;<img class="hideShow" src="assets/icon/ic_cart_orange.png" visibile="false">&ndash;&gt;

           &lt;!&ndash;<button  ion-button clear item-end class="circleButton" (click)="openOrderConfirmation(data.Name,item.PackagingValue,item.OurRate,data,i)">Add</button>&ndash;&gt;
           <button ion-button outline align-items-center class="md-button">{{item.Quantity}}</button>
           <br/>

         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col col-3 size="3"><p class="rowItme" style='text-decoration:line-through'>Rs.{{item.MRPRate}}</p></ion-col>
         <ion-col col-7 align="left"><p class="item_rate">Rs.{{item.OurRate}}</p></ion-col>
         <ion-col col-2>
           <img class="decrement_btn" src="assets/icon/negative-sign-inside-circle-less.png"
                (click)="increment(i,data.DisplayName,data, -1)">
         </ion-col>
         &lt;!&ndash;<ion-col col-3 size="3">&ndash;&gt;
         &lt;!&ndash;<button ion-button clear class="circleButton" (click)="openAddPopup(data.Name,item.PackagingValue,item.OurRate,data,'itemLIst')">Add</button>&ndash;&gt;

         &lt;!&ndash;</ion-col>&ndash;&gt;
       </ion-row>
     </ion-item>
     <hr>

   </ion-list>
 -->

</ion-content>
</ion-app>
