.error {
  color: red;
}
.formCU {
  border:  2px solid #ED3237;

}

.createAccoutC {
  background-color: #ED3237;
  margin-top: 10px;
  margin-left: 2%;
}

.footer {
  text-align: right;
  color: white;
  background-color: #ED3237;


}