<ion-header>
  <ion-toolbar>
    <ion-title>register1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form *ngIf="emailIDVisible == true">


    <ion-row class="inputAllItme" *ngIf="visible == true">
      <ion-col col-12>
        <ion-select class="inputAllItme2"   [(ngModel)]="selectBranch" name="selectBranch"  placeholder="Select Branch">
          <ion-select-option *ngFor="let list of branchList; let i = index" >
            {{list.CompanyName}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>





    <ion-item >
      <ion-label position="floating" class="registerpageitems">Name<span class="span"> &nbsp;*</span></ion-label>

      <ion-input type="text"  name="name" [(ngModel)]="registerData.name1" pattern="Name" value="{{registerData.name1}}" required ></ion-input>

    </ion-item>


    <div *ngIf="nameError == false" class="error" padding-left>
      Name field can not be empty.
    </div>

    <!--
        style="font-size: 13px;color: red;margin-left: 17px;"
    -->




    <ion-item>
      <ion-label position="floating"  class="registerpageitems" >Mobile No. </ion-label>

      <ion-input [(ngModel)]="registerData.userMobile1" pattern="Mobile" class="inputitemclass" name="Mobile" type="tel" value="{{registerData.userMobile1}}" ></ion-input>

    </ion-item>


    <ion-item>
      <ion-label position="floating"  class="registerpageitems" >Email ID <span class="span" >&nbsp;</span> </ion-label>

      <ion-input [(ngModel)]="registerData.userID1" margin-left="17px" pattern="EmailID" name="userID" type="Email" value="{{registerData.userID1}}" ></ion-input>

    </ion-item>
    <div *ngIf="emailIdError == false" class="error" padding-left>
      Invalid EmailID.
    </div>



    <ion-item>
      <ion-label position="floating">Address 1<span class="span" >&nbsp;*</span></ion-label>

      <ion-input type="text"  name="name" [(ngModel)]="registerData.userAddress11" pattern="Name"  value="{{registerData.userAddress11}}" required></ion-input>

    </ion-item>
    <div *ngIf="add1Error == false" class="error" padding-left>
      Address can not be empty.
    </div>


    <ion-item>
      <ion-label position="floating">Address 2 </ion-label>

      <ion-input type="text"  name="name" [(ngModel)]="registerData.userAddress21" pattern="Name" value="{{registerData.userAddress21}}" ></ion-input>

    </ion-item>

    <ion-item>
      <ion-label position="floating">City<span class="span" >&nbsp;*</span></ion-label>

      <ion-input type="text"  name="name" [(ngModel)]="registerData.userCity1" pattern="Name"  value="{{registerData.userCity1}}" required></ion-input>

    </ion-item>
    <div *ngIf="cityError == false" class="error" padding-left>
      City can not be empty.
    </div>

    <ion-item>
      <ion-label position="floating">Fss Lic. No.<span class="span" >&nbsp;</span></ion-label>

      <ion-input type="text"  name="name" [(ngModel)]="registerData.fsslicno" pattern="Name"  value="{{registerData.fsslicno1}}" required></ion-input>

    </ion-item>
    <div *ngIf="fssError == false" class="error" padding-left>
      Fss Lic. No. can not be empty.
    </div>


    <ion-item>
      <ion-label position="floating">GST No.<span class="span" >&nbsp;</span></ion-label>

      <ion-input type="text"  name="name" [(ngModel)]="registerData.gstno" pattern="Name"  value="{{registerData.gstno1}}" required></ion-input>

    </ion-item>
    <div *ngIf="gstError == false" class="error" padding-left>
      GST No. can not be empty.
    </div>

    <ion-item>
      <ion-label position="floating">PAN No.<span class="span" >&nbsp;</span></ion-label>

      <ion-input type="text"  name="name" [(ngModel)]="registerData.panno" pattern="Name"  value="{{registerData.panno1}}" required></ion-input>

    </ion-item>
    <div *ngIf="gstError == false" class="error" padding-left>
      PAN No. can not be empty.
    </div>


    <ion-item>

      <ion-label >Pincode<span class="span">&nbsp;*</span></ion-label>
      <ion-input type="tel" maxlength="5"  name="userMobile" [(ngModel)]="registerData.userPincode1" pattern="Number"  value="{{registerData.userPincode1}}" required></ion-input>

    </ion-item>


    <!-- <ion-list>

       <ion-list-header>Single Selection</ion-list-header>

      <ion-item>
        <ion-label>Hair Color</ion-label>
       <ion-select value="brown" okText="Okay" cancelText="Dismiss">
         <ion-select-option value="brown">Brown</ion-select-option>
         <ion-select-option value="blonde">Blonde</ion-select-option>
         <ion-select-option value="black">Black</ion-select-option>
         <ion-select-option value="red">Red</ion-select-option>
       </ion-select>
     </ion-item>


     </ion-list>-->

    <div *ngIf="userPincodeError == false" class="error" padding-left>
      Invalid Pincode.
    </div>



    <ion-item>
      <ion-label position="floating"  class="registerpageitems" >Password </ion-label>
      <!--
              <ion-div position="right">
      -->
      <ion-input  type="{{type}}" name="password" [(ngModel)]="registerData.userPassword1"  pattern="Password" value="{{registerData.userPassword1}}" required></ion-input>


      <ion-button *ngIf="!showPass" clear color="dark" type="button" item-right (click)="showPassword()" margin-top> <ion-icon   large name="eye-off"></ion-icon></ion-button>
      <ion-button *ngIf="showPass"  clear color="dark" type="button" item-right (click)="showPassword()" margin-top> <ion-icon   large name="eye"></ion-icon></ion-button>
      <!--
              </ion-div>
      -->
    </ion-item>



    <div *ngIf="userPasswordError == false" class="error" padding-left>
      Invalid Password.
    </div>

<!--    <ion-item *ngIf="visiblity==true">-->
<!--      <ion-label position="floating">Enter OTP<span class="span">&nbsp;*</span></ion-label>-->

<!--      <ion-input type="tel" maxlength="4" name="OTP" [(ngModel)]="otp1" (input)="checkForOTP()" value="{{ otp1}}" ></ion-input>-->


<!--    </ion-item>-->
<!--    <div class="divclass"  *ngIf="userOtpError == false" class="error" padding-left>-->
<!--      &lt;!&ndash;Invalid OTP.&ndash;&gt;-->
<!--      &lt;!&ndash;<span float-end style="font-size: large" (click)="resendOtp()">Resend OTP</span>&ndash;&gt;-->
<!--    </div>-->
<!--    <div *ngIf="userOtpError == true" class="error" padding-left>-->
<!--      <span class="userOtpError;">Verified OTP</span>-->
<!--    </div>-->



    <ion-item>
      <ion-label position="floating"  class="registerpageitems">Referral Code (Optional)</ion-label>

      <ion-input   name="userInviteCode" [(ngModel)]="registerData.userInviteCode" maxlength="5"></ion-input>
      <img  item-right src="assets/imgs/ic_info28.png"/>

    </ion-item>
    <span style="color: red;"> * indicate mandatory fields</span>
    <p class="pClasse">By signing up you accept our <a class="pclasse2" >terms & conditions</a></p>



<!--    <ion-button  class="createAccout" *ngIf="visiblity==false" type="submit" color="secondary" style="color: #ffffff;"  (click)="sendCODE()"   >Send CODE</ion-button>-->

    <!--<button ion-button full class="createAccout" type="submit"  >Create Account</button>-->
    <ion-button  class="createAccout" type="submit" *ngIf="visiblity==true" color="secondary" style="color: #ffffff;" (click)="userRegisterEmail()" >Create Account</ion-button>

    <!--color="secondary"-->

  </form>


</ion-content>
