.inputAllItme {
  max-width: 100%;
}

.editoptydialougebox
{

  margin-right: 10px;
  margin-left:  10px;
  width: 1000px !important;

}


.inputitemclass
{
  margin-left: 20px;
}

.iontoolbar1
{
  height:60px;
}

/*.registerpageitems {

}*/

.createAccout {


  margin-top: 10px;
}

.span {
  color: red;

}

.border {
  -moz-border-radius-bottomleft: inherit;

}


.error{
  font-size: 13px;
  color: red;
  margin-left: 17px;
}

.userOtpError {
  color: #32db64;
}

.pclasse2 {
  color: blue;
}

.inputAllItme2 {
  max-width: 100%;
}

.divclass {
  margin-top: 2%;
}


.imageSignUp {
  margin-right: auto;
  margin-left: auto;
  border-radius: 0%;
  display: block;
  width: 30%;
  height: 50%;

}





