
<ion-content padding style="background-color: #f2f2f2" (swipe)="swipeService.swipe($event,3)">

  <ion-card class="pending_details" *ngFor="let data of ItemList; let i = index">
    <ion-row style="background-color:#aaaaaa;color: black;" *ngIf="userType == 2">
      <ion-col align="center">
        <span><b>{{data.PartyName}}</b></span>
      </ion-col >
    </ion-row>
    <ion-row>
      <ion-col class="heading_col" col-3 size="3">
        Order No.
      </ion-col>
      <ion-col col-1></ion-col>
      <ion-col class="heading_col" col-4 size="4">
        Order Date
      </ion-col>
      <ion-col col-1 size="1"></ion-col>

      <ion-col class="heading_col" col-3 size="3">
        Amount
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="content_col" col-3 size="3">
        {{data.DocumentNo}}
      </ion-col>
      <ion-col col-1 size="1"></ion-col>
      <ion-col class="content_col" col-4 size="4">
        <span>{{data.ItrnDate | date: 'dd/MM/yyyy hh:mm:ss a'}}</span>
        <!--{{data.OrderDate}}-->
      </ion-col>
      <ion-col col-1 size="1"></ion-col>

      <ion-col class="content_col" col-3 size="3">
        &#8377;{{data.NetAmount | number :'1.2-2'}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 size="12" *ngIf="data.OrderStatus == 3">

        <ion-buttons class="confirm_btn" align="center" style="background-color: #00b000;color: white;margin:auto">
       <ion-label margin-left="40px;" style="color:black;margin:auto;">   <b>Completed</b>  </ion-label>
        </ion-buttons>

      </ion-col>
    </ion-row>

    <!--<ion-row>-->
    <!--<ion-col col-12 class="delivery_time">-->
    <!--Delivery <span>{{data.OrderDeliveryDate | date: 'dd/MM/yyyy'}}</span> {{data.DeliveryTimeSlotDesc}}-->
    <!--</ion-col>-->
    <!--</ion-row>-->
  </ion-card><hr/>

  <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->

</ion-content>
