.ionbackbutton {
  color: white
}
.btnCnfirm {
  width: 100%;
  height: 50px;
  background-color: #ED3237;
  font-size: 15px;
  color: white;
}

.ioncardwithcss {
  background-color: #A52A2A;
}

.form-radio {
  margin-top: -3px;
  height: 20px !important;
}
