<ion-header color="secondary">

  <ion-toolbar color="secondary">
    <ion-buttons slot="start">

      <ion-back-button class="ionbackbutton" defaultHref="HomepagePage"></ion-back-button>


    </ion-buttons>


    <ion-title style="font-size: small">Forget Password</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>

 
  <form *ngIf="emailIDVisible == false">
    <ion-item >
      <ion-label position="floating">Mobile No.</ion-label>

      <ion-input type="tel" maxlength="10" autocomplete="on" name="userName" [(ngModel)]="usernamefg"
                 required></ion-input>
    </ion-item>




    <ion-item *ngIf="visiblity==true">
      <ion-label position="floating">Enter OTP<span style="color:red;">&nbsp;*</span></ion-label>

      <ion-input type="tel" maxlength="4" name="OTP" [(ngModel)]="userOTP" (input)="checkForOTP()"></ion-input>


    </ion-item>
    <div style="margin-top: 2%" *ngIf="userOtpError == false" class="error" padding-left>
      Invalid OTP.

    </div>
    <div *ngIf="userOtpError == true" class="error" padding-left>
      <span style="color: #32db64;">Verified OTP</span>
    </div>


    <ion-item *ngIf="visiblityNP==true">
      <ion-label position="floating">New Password<span style="color:red;">&nbsp;*</span></ion-label>


      <ion-input type="text" name="password"  [(ngModel)]="UpdateData.userPassword" required pattern="Password"></ion-input>
      <div *ngIf="userNPError == true" class="error" padding-left>
        <span style="color: red;">Invalid Password</span>
      </div>
    


    </ion-item>
    <ion-item *ngIf="visiblityNP==true">
      <ion-label position="floating">Confirm New Password<span style="color:red;">&nbsp;*</span></ion-label>

      <ion-input type="text" name="password"  [(ngModel)]="UpdateData.userConfirm"  required pattern="Password"></ion-input>
      <div *ngIf="userCNPError == true" class="error" padding-left>
        <span style="color: red;">Invalid Password</span>
      </div>


    </ion-item>

    <span id="some_div"  *ngIf = "visiblityOTPTime == true "  style="background-color: white;color: #000000;margin-left: 5px"></span>

    <ion-row style="background-color:#ED3237;margin-top: 10%" align="center"  *ngIf = "visiblityOTPRow == true " >


      <ion-button expand="full" style="text-align: center;margin-left: 100px;" align-items-center="true" color="secondary" [disabled]="!isEnableddSend" class="createAccout" *ngIf = "visiblitySendOTP == true "
                  (click)="sendOTP()" ><ion-label style="text-align: center;" align-items-center="true">Send OTP</ion-label>
      </ion-button>


      <ion-button expand="full"  [disabled]="!isEnabledd" class="createAccout" style="text-align: center;margin-left: 100px;"
                    align="center" color="secondary"
              *ngIf = "visiblitySendOTP == false " (click)="resendOTP()" >Resend OTP

      </ion-button>


    </ion-row>


    <ion-row style="margin-top: 10%" >
      <ion-col col-6 size="6" align="center" style="color: white;background-color:#ED3237;" >

        <button   style="color: white;background-color:#ED3237;
    padding: 5px;"
                  (click)="updatePasswordCancel()">

          <b>Cancel</b>
        </button>

      </ion-col>


      <ion-col col-6 size="6" align="center" style="color: white;background-color:#ED3237;">

        <button  [disabled]="!isEnabled" style="color: white;background-color:#ED3237;
    padding: 5px;"
                 (click)="updatePassword()" >

          <b>Update</b>
        </button>

      </ion-col>
    </ion-row>
  </form>


  <form *ngIf="emailIDVisible == true">
    <ion-item>
      <ion-label position="floating">Email ID<span style="color:red;">&nbsp;*</span></ion-label>

      <ion-input type="tel" maxlength="10"  disabled  name="userMobile" [(ngModel)]="usernamefg"  pattern="Mobile" required ></ion-input>

    </ion-item>
    <div *ngIf="userMobileError == false" class="error" padding-left>
      Invalid Mobile Number.
    </div>
    <ion-item *ngIf="visiblity==true">
      <ion-label position="floating">Enter OTP<span style="color:red;">&nbsp;*</span></ion-label>

      <ion-input type="tel" maxlength="4" name="OTP" [(ngModel)]="userOTP" (input)="checkForOTP()"></ion-input>


    </ion-item>
    <div style="margin-top: 2%" *ngIf="userOtpError == false" class="error" padding-left>
      Invalid OTP.
      <!--<span float-end style="font-size: large" (click)="resendOtp()">Resend OTP</span>-->
    </div>
    <div *ngIf="userOtpError == true" class="error" padding-left>
      <span style="color: #32db64;">Verified OTP</span>
    </div>


    <ion-item *ngIf="visiblityNP==true">
      <ion-label position="floating">New Password<span style="color:red;">&nbsp;*</span></ion-label>


      <ion-input type="text" name="password"  [(ngModel)]="UpdateData.userPassword" required pattern="Password"></ion-input>
      <div *ngIf="userNPError == true" class="error" padding-left>
        <span style="color: red;">Invalid Password</span>
      </div>
     


    </ion-item>
    <ion-item *ngIf="visiblityNP==true">
      <ion-label position="floating">Confirm New Password<span style="color:red;">&nbsp;*</span></ion-label>

      <ion-input type="text" name="password"  [(ngModel)]="UpdateData.userConfirm"  required pattern="Password"></ion-input>
      <div *ngIf="userCNPError == true" class="error" padding-left>
        <span style="color: red;">Invalid Password</span>
      </div>
     


    </ion-item>
    <span id="some_div2"  *ngIf = "visiblityOTPTime == true "  style="background-color: white;color: #000000;margin-left: 5px"></span>
    <ion-row style="background-color:#ED3237;margin-top: 10%" align="center"  *ngIf = "visiblityOTPRow == true " >
     

      <ion-button expand="full" class="createAccout"  [disabled]="!isEnableddSendCode" *ngIf = "visiblitySendOTP == true "   (click)="sendCode()" >Send Code</ion-button>
      <ion-button  expand="full"  class="createAccout" *ngIf = "visiblitySendOTP == false " (click)="resendCode()" >Resend Code</ion-button>


    
    </ion-row>


    <ion-row style="margin-top: 10%" >
      <ion-col col-6 size="6" align="center" style="color: white;background-color:#ED3237;border-left:2px solid white " >

        <button   style="color: white;background-color:#ED3237;
    padding: 5px;"
                  (click)="updatePasswordCancel()">

          <b>Cancel</b>
        </button>

      </ion-col>


      <ion-col col-6 size="6" align="center" style="color: white;background-color:#ED3237; ">

        <button  [disabled]="!isEnabled" style="color: white;background-color:#ED3237;
    padding: 5px;"
                 (click)="updatePassword()" >

          <b>Update</b>
        </button>

      </ion-col>
    </ion-row>

  </form>

</ion-content>

