
  .imageSignUp {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 50%;
    margin-top: 5%;
    width: 100px;
    height: 100px;
  }

  .inputItem {
    margin-top: 3%;
    border: 2px solid #ED3237;
    border-radius: 2%;
    //box-shadow: 0 0 5px gray;
  }

  .inputAllItme {
    margin-top: 5%;
    border: 2px solid #ED3237;
    border-radius: 2%;
    //box-shadow: 0 0 5px gray;
  }

  .infoImage {
  }

  .classRow {
    height: 8%;
  }

  .pClasse {
    font-size: medium;
  }

  .createAccout {
    background-color: #ED3237;
    margin-top: 10px;
  }

  .createAccoutC {
    background-color: #ED3237;
    margin-top: 10px;
    margin-left: 2%;
    margin-buttom: 2%;
  }

  .error {
    color: red;
  }


