  .para{
    text-align: center;
    font-size: 18px;
    color: gray;
    padding: 2%;
  }

  .fab[large] {
    margin: 400px 0px 0px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    background-color: #fff;
    border: #ED3237 thin
  }

  /*.fab[sms_large] {
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    background-color: #fff;
    border: #ED3237 thin;
    margin-left: 20px;
  }*/

  .sms_largee
  {
    margin-top: 90px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: white;
    background-color: white;
    border: #ED3237 thin;
    margin-left: 20px;
  }



  /*
  margin: 10px;
  */

  .footer{
    padding-top: 12px;
    margin-top: 250px;
    height: 30%;
  }

  .footer1{
    margin-top: 250px;
    height: 30%;
  }

  .heading{
    margin-left: 28%;
    color:#ED3237 ;
  }
  .heading1{
    align-items: center;
    margin-left: 10%;
    color:#ED3237 ;
  }
  .heading2{
    margin-left: 37%;
    color:#ED3237 ;
  }

